*{
    font-family: "Roboto Mono";
   
    
    
}
.container {
    margin: 0 auto;
    width: 1000px;
}
.container header nav a {
    margin:0 60px;
   
    height: 10 px;
    padding:20px;
    display:inline-block;
    border-radius: 20px;
    color:white;
    text-decoration:none;
    margin-bottom:20px;
}
.container header nav a:hover{
    background-color: hotpink;
}
h1 {
    font-family: "Chelsea Market";
    font-weight: bold;
}
.content-row {
    display: flex;
  }
  .content-row div {
    margin:20px
  }

  .ana-metin{
    float:right;
    text-align:center;
    color:white;
    background-color: #DDB9A3;
   padding:0px;
  }
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    width: 5%;
  }
  

  .footer {
   

    margin-left: auto;
    margin-right: auto;
    left: 10%;
    bottom: 0;
    width: 80%;
    height:100px;
    background-color: #F9E7DC;
  }
  .footer nav a{
    
        margin:20px 60px;
       
        height: 20 px;
        padding:20px;
        display:inline-block;
        border-radius: 20px;
        color:white;
        text-decoration:none;
        
    
  }
  .footer-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    width: 80%;
    height:200px;
    object-fit:cover;
    object-position:top center;
  }